<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <queries>
        <package android:name="com.gbox.android" />
        <package android:name="com.google.android.gms" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.gsf" />
        <package android:name="com.huawei.hwid" />
        <package android:name="com.huawei.appmarket" />
        <package android:name="com.gspace.android" />
        <package android:name="com.aurora.store" />
        <package android:name="moe.shizuku.privileged.api" />
    </queries>

    <application
        android:allowBackup="false"
        android:label="FixHUA Diagnostics"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:usesCleartextTraffic="false">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MonitorService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
    </application>

</manifest>
